
#ingonre these files
vim74/*.*
vim74/autoload/*
vim74/compiler/*
vim74/doc/*
vim74/ftplugin/*
vim74/indent/*
vim74/keymap/*
vim74/lang/*
vim74/macros/*
vim74/plugin/*
vim74/spell/*
vim74/syntax/*
vim74/tools/*
vim74/tutor/*
*.zip
*.swp
_vimrc~
vim74/tags


!vim74/ctags.exe
!vim74/autoload/pathogen.vim
!vim74/autoload/textobj
!vim74/syntax/fx.vim
!vim74/syntax/glsl.vim
!vim74/ftplugin/mkd.vim
!vim74/syntax/mkd.vim
